@model LoginModel
@{
    ViewBag.Title = "Account Login";
}
@using (Html.BeginForm("Login", "Account", FormMethod.Post))
{
    <h4>We found a match for an existing account:</h4>
    <div class="form-group">
        <div class="row">
            <label class="col-lg-2 control-label">@Html.LabelFor(m => m.Email)</label>
            <label class="col-lg-10 control-label-bold-only">@Model.Email</label>
            @Html.HiddenFor(m => m.InviteeIMIS_ID)
            @Html.HiddenFor(m => m.InvitationID)
            @Html.HiddenFor(m => m.Email)
        </div>
    </div>
    <hr />
    <h4>Please enter your credentials and click Login to proceed with registration.</h4>
    @Html.ValidationSummary()
    <div class="row">
        @Html.LabelFor(m => m.Username, new { @class = "col-lg-2 control-label" })
        @Html.TextBoxFor(m => m.Username, new { @class = "form-control col-lg-10" })
    </div>
    <div class="row">
        @Html.LabelFor(m => m.Password, new { @class = "col-lg-2 control-label" })
        @Html.TextBoxFor(m => m.Password, new { type = "password", @class = "form-control col-lg-10" })
    </div>
    <p><input name="submit" type="submit" id="btnLogin" value="Login" class="btn btn-primary center" /></p>
    <br/>
    @*<p>@Html.ActionLink("I forgot my password", "ForgotPassword", new { email = Model.Email, contactID = Model.InviteeIMIS_ID, invitationID = Model.InvitationID })</p>*@
    <p><a href="https://www.brewersassociation.org/membership/recover-credentials/" target="_blank">I forgot my password</a> </p>
}


